Adafruit-Blinka==8.27.0
adafruit-board-toolkit==1.1.1
adafruit-circuitpython-74hc595==1.4.4
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-charlcd==3.4.10
adafruit-circuitpython-framebuf==1.6.5
adafruit-circuitpython-mcp230xx==2.5.13
adafruit-circuitpython-requests==2.0.3
adafruit-circuitpython-ssd1306==2.12.16
adafruit-circuitpython-typing==1.9.5
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.57.0
Adafruit-PureIO==1.1.11
certifi==2023.11.17
colorzero==2.0
distlib==0.3.7
filelock==3.13.1
gpiozero==2.0
lgpio==0.0.0.2
platformdirs==4.1.0
pyftdi==0.55.0
pyserial==3.5
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
spidev==3.6
sysv-ipc==1.1.0
typing-extensions==4.9.0
virtualenv==20.25.0
